{% extends 'base.html' %}
{% block base %}
    <h1>
        Lista de Registros
    </h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>User</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.password}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}